<div
  class="section-full our-about-home-wrap mobile-page-padding bg-white p-t80 p-b30 bg-repeat square_shape1"
  style="background-image: url(assets/images/background/bg-5.png)"
>
  <div class="container">
    <!-- IMAGE Carousal START -->
    <div class="section-content">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-6 m-b30">
          <div class="mt-box our-speciallization-content">
            <h3 class="m-t0">
              <span class="font-weight-100">Domaines</span> <br />d'expertise.
            </h3>
            <p>
              Face aux contraintes spécifiques de notre continent africain, nous
              intégrons notre parfaite connaissance des réalités africaines aux
              technologies les plus modernes.
            </p>
            <a routerLink="/page/domaines" class="site-button btn-effect"
              >Détails</a
            >
          </div>
        </div>
        @for(object of data; track $index) {
        <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
          <app-grid-box1 [data]="object" zoom="0" />
        </div>
        }
      </div>
    </div>
  </div>
  <!-- <div class="hilite-title text-right p-r50 text-uppercase text-pop-up-top">
    <strong>Welcome</strong>
  </div> -->
</div>
