<div class="section-full p-t80 p-b50 bg-white inner-page-padding">
    <div class="container">
        <div class="section-content ">
             <div class="m-service-containt text-black">
                     <div class="row">
                        <div class="col-md-5 col-sm-12 m-b30">
                            <div class="service-about-left">
                                <div class="mt-media">
                                       <img src="assets/images/s-1.png" alt=""> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="service-about-right m-b30">
                                <h3 class="m-t0">In our work we have pride, quality is what we provide.</h3>
                                <p>Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in general the content of dummy text is nonsensical. Due to its widespread use texts.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputa cumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                <div class="call-for-quote-outer">
                                    <div class="call-quote">
                                        <span>Call For a Quote:</span>
                                        <h4>(321) 456 6789</h4>
                                    </div>
                                    <div class="call-estimate bg-dark">
                                        <a routerLink="/page/contact" class="site-button-secondry btn-effect">Online Estimate Form</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> 