<!-- SLIDER START -->
<app-slider1 />
<!-- SLIDER END -->

<!-- OUR SPECIALLIZATION START -->
<app-specializations1 [data]="_data.specializations" />
<!-- OUR SPECIALLIZATION END -->

<!-- ABOUT COMPANY START -->
<app-about1 [data]="_data.aboutSlides" />
<!-- ABOUT COMPANY END -->

<!-- OUR VALUE START -->
<app-our-value1 [data]="_data.ourValue" />
<!-- OUR VALUE END -->

<!-- OUR MISSION START -->
<app-mission1 />
<!-- OUR MISSION  END -->

<!-- OUR SERVICES START -->
<app-services1 [data]="_data.services" />
<!-- OUR SERVICES  END -->

<!-- CALL US SECTION START -->
<app-call-us1 />
<!-- CALL US SECTION END -->

<!-- OUR PROJECT START -->
<app-projects1 [data]="_data.projects" />
<!-- OUR PROJECT END -->

<!-- OUR BLOG START -->
<app-blogs1 [data]="_data.blogs" />
<!-- OUR BLOG END -->

<!-- TESTIMONIALS SECTION START -->
<app-testimonials1 [data]="_data.testimonials" />
<!-- TESTIMONIALS SECTION END -->