<div class="mt-icon-box-wraper p-a30 center m-b30 box-shadow bg-white">
    <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-primary  scale-in-center bg-moving"
        style="background-image:url(assets/images/background/line.png)">
        <span class="icon-cell text-secondry"><i class="{{data.icon}}"></i></span>
    </div>
    <div class="icon-content">
        <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">{{data.title}}</h4>
        <p>{{data.description}}</p>
        <a routerLink="/page/services" class="site-button-link" data-hover="Read More">Read More <i
                class="fa fa-angle-right arrow-animation"></i></a>
    </div>
</div>