<div class="section-full p-tb80 bg-white inner-page-padding">

    <!-- GALLERY CONTENT START -->
    <div class="container">
        <div class="portfolio-wrap mfp-gallery news-grid clearfix row ">

            @for(object of data; track $index) {
            <div class="masonry-item col-lg-4 col-md-4 col-sm-6">
                <app-blog-box2 [data]="object" textleft="1" />
            </div>
            }

        </div>
        <ul class="pagination m-tb0">
            <li><a href="javascript:void(0);">«</a></li>
            <li><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">4</a></li>
            <li><a href="javascript:void(0);">5</a></li>
            <li><a href="javascript:void(0);">»</a></li>
        </ul>
    </div>
    <!-- GALLERY CONTENT END -->

</div>