<div class="section-full mobile-page-padding p-tb80 overlay-wraper bg-cover bg-center" style="background-image:url(assets/images/background/bg-1.jpg)">
    <div class="overlay-main bg-primary opacity-07"></div>
    <div class="container">

            <div class="section-content">
                <div class="call-us-section text-center">
                    <h4 class="m-b15">Let's work together</h4>
                    <h2 class="call-us-number m-b15 m-b0">(+291)-456-789-1234</h2>
                    <h4 class="call-us-address m-t0 m-b20">Street 4 ,45 New york City</h4>
                    <a routerLink="/page/contact" class="site-button-secondry btn-effect bg-dark">Contact Us</a>
                </div>
            </div>
        
    </div>
</div>