<div class="section-full p-t80 p-b80 bg-white inner-page-padding">
  <div class="container">
    <!-- TITLE START -->
    @if(title =='1') {
    <div class="section-head no-margin">
      <div class="mt-separator-outer separator-left">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one">
            <span class="font-weight-300 text-primary">Qui sommes </span>nous?
          </h2>
        </div>
      </div>
    </div>
    }
    <!-- TITLE END -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="m-about">
            <div class="owl-carousal about-us-carousal">
              @for(object of data.slides; track $index) {
              <div class="item">
                <div class="ow-img">
                  <a routerLink="/page/about"
                    ><img src="{{ object.image }}" alt=""
                  /></a>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="m-about-containt text-black">
            <div
              class="m-about-years bg-moving"
              style="background-image: url(assets/images/background/line.png)"
            >
              <span class="text-primary large-title">{{
                data.experience
              }}</span>
              <span class="large-title-info">Years of Experience</span>
            </div>
            <h3 class="font-weight-600">
              RETEL Quand c'est RETEL, c'est Garantit
            </h3>
            <p>
              Retel est une société de services, filiale de Tawasol Group
              Holding, l’un des plus grands groupes en Tunisie bénéficiant d’une
              forte notoriété nationale et régionale. Fort de son savoir-faire
              et de son professionnalisme, le Groupe est impliqué dans de
              nombreux secteurs stratégiques tels que l’immobilier,
              l’automobile, les infrastructures, les télécommunications et la
              fibre optique, le tourisme ainsi que l’industrie. Avec 17 sociétés
              à son actif, Tawasol Group Holding a su diversifier ses activités
              et étendre sa présence au-delà des frontières tunisiennes,
              notamment en Algérie, en Libye et en Afrique de l’Ouest. En tant
              que membre de ce réseau solide et multidisciplinaire, Retel
              bénéficie de l’expertise et de la synergie du groupe pour offrir à
              ses clients des solutions de communication et de connectivité
              fiables, innovantes et adaptées à leurs besoins. Notre ambition
              est d’allier performance technologique et proximité humaine, afin
              de contribuer activement au développement et à la modernisation
              des infrastructures de communication, en Tunisie et à
              l’international.
            </p>
            <div class="author-info p-t20">
              <div class="author-signature">
                <img src="{{ data.sign }}" alt="Signature" width="150" />
              </div>

              <div class="author-name">
                <h4 class="m-t0">{{ data.author }}</h4>
                <p>{{ data.designation }}</p>
              </div>
              <a routerLink="/page/contact" class="site-button btn-effect m-b15"
                ><span>Contactez-nous</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
