<!-- ABOUT COMPANY SECTION START -->
<app-about5 />
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR SPECIALLIZATION START -->
<app-specializations3 [data]="_data.specializations" />
<!-- OUR SPECIALLIZATION END -->

<!-- OUR All SERVICES START -->
<app-services3 [data]="_data.services" />
<!-- OUR All SERVICES END -->

<!-- ABOUT COMPANY SECTION START -->
<app-about4 [data]="_data.about" />
<!-- ABOUT COMPANY SECTION END -->

<!-- SECTION CONTENT START -->
<app-projects3 [data]="_data.projects" />
<!-- SECTION CONTENT END  -->

<!-- FAQ START -->
<app-faq1 [data]="_data.faq" />
<!-- FAQ END -->