<!-- SLIDER START -->
<app-slider2 />
<!-- SLIDER END -->

<!-- OUR SPECIALLIZATION START -->
<app-specializations2 [data]="_data.specializations" />
<!-- OUR SPECIALLIZATION END -->

<!-- ABOUT COMPANY START -->
<app-about2 [data]="_data.about" />
<!-- ABOUT COMPANY END -->

<!-- OUR VALUE START -->
<app-our-value2 [data]="_data.ourValue" />
<!-- OUR VALUE END -->

<!-- OUR MISSION START -->
<app-mission2 />
<!-- OUR MISSION  END -->

<!-- OUR SERVICES START -->
<app-services2 [data]="_data.services" />
<!-- OUR SERVICES  END -->

<!-- CALL US SECTION START -->
<app-call-us2 />
<!-- CALL US SECTION END -->

<!-- OUR PROJECT START -->
<app-projects2 [data]="_data.projects" zoom="0" />
<!-- OUR PROJECT END -->

<!-- OUR Team START -->
<app-team1 [data]="_data.team" />
<!-- OUR Team END -->

<!-- Our PRICING PLAN -->
<app-pricing1 [data]="_data.pricing" />
<!-- Our PRICING PLAN -->

<!-- CLIENT LOGO SECTION START -->
<app-clients1 [data]="_data.clients" />
<!-- CLIENT LOGO  SECTION End -->

<!-- TESTIMONIALS SECTION START -->
<app-testimonials2 [data]="_data.testimonials" />
<!-- TESTIMONIALS SECTION END -->