<!-- SLIDER START -->
<app-slider3 />
<!-- SLIDER END -->

<!-- ABOUT COMPANY SECTION START -->
<app-about3 [data]="_data.about" title="0" />
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR SPECIALLIZATION START -->
<app-specializations3 [data]="_data.specializations" />
<!-- OUR SPECIALLIZATION END -->

<!-- OUR MISSION START -->
<app-mission1 />
<!-- OUR MISSION  END -->

<!-- CALL US SECTION START -->
<app-call-us1 />
<!-- CALL US SECTION END -->

<!-- OUR All SERVICES START -->
<app-services3 [data]="_data.services" />
<!-- OUR All SERVICES END -->

<!-- SECTION PROJECTS START -->
<app-projects3 [data]="_data.projects" />
<!-- SECTION PROJECTS END  -->

<!-- ABOUT COMPANY SECTION START -->
<app-about4 [data]="_data.about2" />
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR STORY SECTION START -->
<app-story1 [data]="_data.story" />
<!-- OUR STORY SECTION END -->

<!-- FAQ START -->
<app-faq1 [data]="_data.faq" />
<!-- FAQ END -->