<ul class="nav navbar-nav">
  <li>
    <a class="active" routerLink="/index">Acceuil</a>
  </li>
  <li>
    <a routerLink="/page/about">Qui sommes nous ?</a>
    <ul class="sub-menu">
      <li>
        <a
          routerLink="/page/about"
          (click)="goToSection('/page/about', 'presentation')"
          >Présentation</a
        >
      </li>
      <li>
        <a routerLink="/page/about" (click)="goToSection('/page/about', 'team')"
          >Notre Equipe</a
        >
      </li>
      <li>
        <a
          routerLink="/page/about"
          (click)="goToSection('/page/about', 'moyens')"
          moyens
          >Nos Moyens</a
        >
        <!-- Notre capital humain 
                 engins de notre parc -->
      </li>
      <li>
        <a
          routerLink="/page/about"
          (click)="goToSection('/page/about', 'mission')"
          >Mission , Vision et Valeur</a
        >
      </li>
      <li>
        <a
          routerLink="/page/about"
          (click)="goToSection('/page/about', 'valeurs')"
          >Nos engagements</a
        >
      </li>
      <li>
        <a routerLink="/page/about" (click)="goToSection('/page/about', 'HSE')">
          Notre Politique HSE</a
        >
      </li>
      <li>
        <a
          routerLink="/page/about"
          (click)="goToSection('/page/about', 'certifications')"
          >Nos Certifications</a
        >
      </li>
    </ul>
  </li>

  <li>
    <a routerLink="/page/domaines">Domaine d'activité</a>
    <ul class="sub-menu">
      <li>
        <a (click)="goToSection('/page/domaines', 'voirie-reseaux-divers')"
          >Voirie et Réseaux Divers</a
        >
      </li>
      <li>
        <a (click)="goToSection('/page/domaines', 'hydraulique')"
          >Hydraulique</a
        >
      </li>
      <li>
        <a (click)="goToSection('/page/domaines', 'gaz-hydrocarbures')"
          >Gaz et Hydrocarbures</a
        >
      </li>
      <li>
        <a (click)="goToSection('/page/domaines', 'batiments')">Bâtiments</a>
      </li>
      <li><a (click)="goToSection('/page/domaines', 'routes')">Routes</a></li>

      <li>
        <a (click)="goToSection('/page/domaines', 'telecom')"
          >Infrastructures Télécom</a
        >
      </li>
      <li>
        <a routerLink="/page/domaines">Production et vente de Béton</a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/project/grid">Nos projets</a>
  </li>

  <!-- 
  <li>
    <a href="javascript:void(0);">Projects</a>
    <ul class="sub-menu">
      <li><a routerLink="/project/grid">Project Grid</a></li>
      <li><a routerLink="/project/masonry">Project Masonry</a></li>
      <li><a routerLink="/project/carousel">Project Carousal</a></li>
      <li><a routerLink="/project/classic1">Project Classic-1</a></li>
      <li><a routerLink="/project/classic2">Project Classic-2</a></li>
      <li><a routerLink="/project/detail">Project Detail</a></li>
    </ul>
  </li> -->
</ul>
