<!-- SLIDER START -->
<app-slider4 />
<!-- SLIDER END -->

<!-- ABOUT COMPANY SECTION START -->
<app-about3 [data]="_data.about" title="0" />
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR SPECIALLIZATION START -->
<app-specializations3 [data]="_data.specializations" />
<!-- OUR SPECIALLIZATION END -->

<!-- OUR VALUE START -->
<app-our-value2 [data]="_data.ourValue" />
<!-- OUR VALUE END -->

<!-- SECTION PROJECTS START -->
<app-projects4 [data]="_data.projects" projectGrid="0" />
<!-- SECTION PROJECTS END  -->

<!-- OUR All SERVICES START -->
<app-services4 [data]="_data.services" />
<!-- OUR All SERVICES END -->

<!-- ABOUT COMPANY SECTION START -->
<app-about4 [data]="_data.about2" />
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR TEAM START -->
<app-team2 [data]="_data.team" />
<!-- OUR TEAM END -->

<!-- OUR BLOG START -->
<app-blogs2 [data]="_data.blogs" />
<!-- OUR BLOG END -->

<!-- FAQ START -->
<app-faq1 [data]="_data.faq" />
<!-- FAQ END -->