<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 inner-page-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <app-post-content [data]="_data.postContent" type="3" />
            </div>
            <!-- SIDE BAR START -->
            <div class="col-lg-4 col-md-4">
                <app-blog-sidebar1 [data]="_data.asideData" />
            </div>
            <!-- SIDE BAR END -->
        </div>
    </div>
</div>
<!-- SECTION CONTENT END -->