<div
  class="section-full mobile-page-padding p-t80 p-b30 bg-dark bg-repeat square_shape2 bg-moving"
  style="background-image: url(assets/images/background/bg-6.png)"
>
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-white text-uppercase sep-line-one">
            <span class="font-weight-300 text-primary">à propos </span> de nous
          </h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <div class="section-content">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="owl-carousal about-home owl-btn-vertical-center">
            @for(object of data; track $index) {
            <div class="item">
              <div class="mt-img-effect zoom-slow">
                <a routerLink="/page/about"
                  ><img src="{{ object.image }}" alt=""
                /></a>
              </div>
            </div>
            }
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="about-home-right bg-white p-a30">
            <h3 class="m-t0">
              <span class="font-weight-100">Le talent de</span><br />
              L´AFRIQUE
            </h3>
            <p>
              LE TALENT DE L´AFRIQUE Du personnel technique, dynamique et
              hautement qualifié associé à des connaissances spécifiques et une
              politique d’intégration de la culture locale c’est l’engagement de
              RETEL SA. Par sa philosophie privilégiant les besoins du client
              RETEL SA crée et développe des solutions financières à valeur
              ajoutée pour les clients.
            </p>
            <div class="text-right">
              <a
                routerLink="/page/about"
                class="site-button-link"
                data-hover="En savoir plus
"
                >En savoir plus <i class="fa fa-angle-right arrow-animation"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-uppercase hilite-dark">
    <strong>à propos de nous </strong>
  </div>
</div>
